<html style="height: 100%">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body style="height: 100%">
    <app-nav-bar></app-nav-bar>
    <div class="row" style="height:100vh;">
      <div id="content" class="col s6">
        <app-form-left (enviarDados)="enviarDado($event)" (enviarPalavra)="enviarPalavra($event)" [lose]="lose"></app-form-left>
        <app-scoreboard [letra]="letra" (lose)="status($event)"></app-scoreboard>
      </div>
      <div class="col s6">
        <app-gallow [letra]="letra" [palavra]="word"></app-gallow>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
  <footer>
  </footer>
</html>